html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

body {
    background: #F3F5FC;
    width: 100%;
}

header {
    margin-top: 40px;
}

.logo {
    margin: 0 40px;
    width: 120px;
}

main {
    min-width: 320px;
    max-width: 1360px;
    height: 944px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.seccion-izquierda {
    width: 680px;
    height: 944px;
    display: inline-block;
    margin-left: 240px;
    margin-right: 80px;
}

.seccion-derecha {
    background: #fff;
    width: 400px;
    height: 944px;
    display: inline-block;
    padding: 0 22px;
}

.text-area {
    border: none;
    color: #0A3871;
    margin-top: 90px;
    text-transform: lowercase;
}

::placeholder {
    color: #0A3871;
}

.text-area:focus {
    outline: none;
}

.mensaje {
    background: #FFFFFF;
    background-image: url("./imagenes/muneco.png");
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
}

.mensaje:focus {
    outline: none;
}

.informacion {
    color: #495057;
    font-size: 12px;
}

.botones {
    margin-top: 18px;
    display: flex;
}

.boton-encriptar {
    background: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #ffffff;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.boton-desencriptar {
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    margin-left: 30px;
    height: 67px;
    width: 328px;
}

.copiar {
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    position: absolute;
    margin-left: 108px;
    margin-top: 402px;
    height: 67px;
    width: 336px;
}

